body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    border-style:ridge;
    border-color: rgb(14, 42, 27);
    background-color: #11a36a;
}


 #titulo{
    font-family: montserrat, sans-serif;
    text-align: center;  
} 

#minha_foto{
    
    width: 300px;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* #licoes_aprendidas{

} */

/* #licoes_a_aprender{

} */

.button{
    background-color: #11a36a;
    color:whitesmoke;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
}